<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <div th:replace="template :: head"></div>
</head>

<body>
  <header th:replace="template :: header"></header>
    <div class="container">
        <h1>Regler på servern</h1>
        <ul>
            <li>Skolans regler gäller fortfarande på servern. Följ dem.</li>
            <li>Förstör inte för någon annan spelare. Alla ska kunna ha kul.</li>
            <li>Fuska inte på servern.</li>
            <li>Låt inte personer som inte går på skolan spela på servern.</li>
            <li>Använd dig av sunt förnuft, hur svårt kan det vara?</li>
        </ul>
        <p>
            Om man bryter mot reglerna kommer man att bli bannad.
        </p>
    </div>
  <footer th:replace="template :: footer"></footer>
</body>
</html>