<!DOCTYPE html>
<html lang="en" dir="ltr">

<head th:fragment="head" th:remove="tag">
  <meta charset="utf-8">
  <title>SSIS | MC</title>
  <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    .orange {
      color: #ffb04a;
    }
  </style>
</head>

<body>

  <header class="d-flex align-items-center border-bottom" th:fragment="header">
    <a class="navbar-brand text-decoration-none text-reset" href="/">
      <h1>Tog<span class="orange">ethernet</span> Minecraft server</h1>
    </a>
    <a class="btn btn-primary mr-2" sec:authorize="!isAuthenticated()" href="oauth2/authorization/google">Logga in</a>
    <a class="btn btn-primary mr-2" sec:authorize="isAuthenticated()" href="/user">Profil</a>
    <a class="btn btn-primary mr-2" sec:authorize="hasRole('ADMIN')" href="/admin">Admin</a>
    <form id="logout-form" th:action="@{/logout}" method="POST">
      <button class="btn btn-primary" sec:authorize="isAuthenticated()" type="submit" form="logout-form">Logga ut</button>
    </form>
  </header>
  <footer class="border-top" th:fragment="footer">
    Rapportera problem, ge förslag eller ställ frågor på <a href="https://github.com/mozzi20/mc-ssis">GitHub</a>!
  </footer>
</body>

</html>